---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ImapactParagraph from "../components/ImapactParagraph.astro";
import List from "../components/List";
import ScrollDownArrow from "../components/ScrollDownArrow.tsx";
import {
	MY_PROCUCTS,
	MY_RECOMMENDS,
	MY_TECH_WORDS,
	SITE_DESCRIPTION,
	SITE_TITLE,
} from "../consts";

const { earthMovie = "/earth.gif" } = Astro.props;

const today = new Date();
const currentYear = today.getFullYear();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="flex flex-col p-7 gap-10 md:px-40">
			<h1 class="sr-only h-0">This page introduces koshin's activities and thoughts.</h1>
			<section class="text-center h-screen">
				<h2 class="font-bold text-5xl text-slate-900 leading-normal font-serif">
					Hello <br />
					 <img 
					 src={earthMovie} 
					 class="w-12 mx-auto"
					 alt="The spinning clay earth." 
					 />
					I'm Software enginner <br />
					in Tokyo
				</h2>
				<ScrollDownArrow client:load />
			</section>
			<section class="flex flex-col gap-10 text-center">
				<ImapactParagraph>
					Let me tell you why I got this job.
				</ImapactParagraph>
				<ImapactParagraph>
					I started dreaming after watching a certain drama.
				</ImapactParagraph>
				<ImapactParagraph>
					The drama "Silicon Valley" changed the way I think about work.
				</ImapactParagraph>
				<ImapactParagraph>
					I have yet to achieve spectacular results, but I believe I can do something good through this work.
				</ImapactParagraph>
			</section>
			<section class="flex flex-col gap-4">
				<h3 class="text-slate-500">
					Look at what I designed
				</h3>
				<List items={MY_PROCUCTS} />
			</section>
			<section class="flex flex-col gap-4">
				<h3 class="text-slate-500">
					Let me tell you what I like
				</h3>
				<List items={MY_RECOMMENDS} />
			</section>
			<section class="flex flex-col gap-4">
				<h3 class="text-slate-500">
					Let me say tech words that I often say
				</h3>
				<List items={MY_TECH_WORDS} />
			</section>
			<section class="flex flex-col gap-4">
				<h3 class="text-slate-500">
					Finally, my career
				</h3>
				<p class = "px-2 text-slate-950">
					{currentYear - 2021} years ago, I moved from Hyogo to Tokyo.
					From there I worked part time and studied Java for 6 months at a vocational training school.
					{currentYear - 2022} years ago I become a full time server side enginner for the first time,
					and now I'm working develping SaaS for my second company.
				</p>
			</section>
		</main>
		<Footer />
	</body>
</html>
